<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">

<dom-module id="account-overview">
    <template>
        <iron-ajax
                auto
                id="requestAccountOverview"
                url="http://localhost:8080/accountview/user"
                handle-as="json"
                on-response="handleAccountOverview">
        </iron-ajax>

        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <img src="img/header.png" style="width:100%;" />
            <h1>Account overview</h1>

            Welcome {{accountOverview.firstName}},

            <p>ING Child Account is designed to inculcate the savings habit of your kids from an early age and help you build a corpus for your child's future.</p>


            <!--<iron-list items="[[accountOverview.user]]" as="user">-->
                <!--<template>-->
                    <!--<div>-->
                        <!--<p>[[user.firstName]] [[user.lastName]]</p>-->
                    <!--</div>-->
                <!--</template>-->

            <!--</iron-list>-->

            <a class="btn" href="/new-account">Open a child's account</a>
        </div>
    </template>

    <script>
        Polymer({
            is: 'account-overview',
            properties: {
                accountOverview: {
                    type: Object
                }
            },
            handleAccountOverview: function(data) {
                console.log(data);
                this.accountOverview = data.detail.response;
                console.log(data.detail.resonse);
            }
        });
    </script>
</dom-module>