<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="new-account">
    <template>
        <iron-ajax
                id="createNewAccount"
                url="http://localhost:8080/accountview/createchildaccount"
                method="POST"
                body="{{ajaxBody}}"
                content-type="application/json"
                handle-as="json"
                on-response="handleCreateNewAccount"
                on-error="handleCreateNewAccountError"
        ></iron-ajax>

        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .row {

            }
        </style>

        <style include="app-grid-style">
            :host {
                --app-grid-columns: 1;
            }

            .app-grid {
                margin: 20px 0;
            }


        </style>

        <div class="card">
            <h1>Open a kid account</h1>

            <form is="iron-form" id="form" method="post" action="">

                <div class="app-grid">
                    <paper-input name="nick-name" label="Nick Name" value="{{nickName}}"></paper-input>
                </div>

                <div class="app-grid">
                    <paper-input name="first-name" label="First Name" value="{{firstName}}"></paper-input>
                </div>

                <div class="app-grid">
                    <paper-input name="last-name" label="Last Name" value="{{lastName}}"></paper-input>
                </div>

                <div class="app-grid">
                    <paper-radio-group selected="{{gender}}">
                        <paper-radio-button name="male" value="{{male}}" id="male">Male</paper-radio-button>
                        <paper-radio-button name="female" value="{{female}}" id="female">Female</paper-radio-button>
                    </paper-radio-group>
                </div>

                <div class="app-grid">
                    <paper-input name="date-of-birth" label="Date of Birth" value="{{birthDate}}"></paper-input>
                </div>

                <h2>Address</h2>

                <div class="app-grid">
                    <paper-input name="address" label="Address" value="{{address}}"></paper-input>
                </div>

                <div class="app-grid">
                    <paper-input name="bsn" label="BSN" value="{{bsn}}"></paper-input>
                </div>

                <paper-button class="btn" raised on-click="submitForm">I have another child</paper-button>
                <paper-button class="btn" raised on-click="submitForm">Submit Request</paper-button>
            </form>
        </div>
    </template>

    <script>
        Polymer({
            is: 'new-account',
            properties: {
                nickName: String,
                firstName: String,
                lastName: String,
                gender: String,
                birthDate: String,
                address: String,
                bsn: String,

              ajaxBody: {
                  type: String,
                  computed: 'processBody(nickName, firstName, lastName, gender, birthDate, postCode, number, bsn)'
              }
            },
            processBody: function(nickName, firstName, lastName, gender, birthDate, postCode, number, bsn) {
                return JSON.stringify({
                    nickName: nickName,
                    firstName: firstName,
                    lastname: lastName,
                    gender: gender,
                    birthDate: birthDate,
                    address: address,
                    bsn: bsn
                });
            },
            submitForm: function() {
                var self = this;
                var ajaxRequest = this.$.createNewAccount;

                var gender = "male";
                if (self.$.female.getAttribute("aria-checked") === "true") {
                    gender = "female";
                }

                ajaxRequest.body = {
                    nickName: self.nickName,
                    firstName: self.firstName,
                    lastname: self.lastName,
                    gender: gender,
                    birthDate: self.birthDate,
                    address: self.address,
                    bsn: self.bsn
                };

                ajaxRequest.generateRequest();
            },
            handleCreateNewAccount: function(data) {
                console.log("return success");
            },
            handleCreateNewAccountError: function() {

            }
        });
    </script>
</dom-module>
