<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 1px 20px 20px 20px;
        color: #757575;
        background-color: #fff;
        max-width: 500px;
        margin: auto;
      }

      h1 {
        margin: 20px 0;
        color: var(--app-primary-color);
        font-weight: normal;
        font-size: 22px;
      }

      h2 {
        color: black;
        font-size: 18px;
        font-weight: normal;
      }

      .input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        -webkit-box-shadow: inset 0 3px 2px -2px #D5D5D5;
        box-shadow: inset 0 3px 2px -2px #D5D5D5;
        border: 1px solid #D5D5D5;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-color: #FFF;
        background-image: none;
        color: #333;
        margin-bottom: 0;
        padding: 5px 10px;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
      
      input[type=submit] {
        background-color: var(--app-primary-color);
      }

      paper-input {
        display: block;
      }

      .btn {
        -webkit-transition: all ease-in-out 0.15s;
        -moz-transition: all ease-in-out 0.15s;
        transition: all ease-in-out 0.15s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid transparent;
        background-color: var(--app-primary-color);
        color: #fff;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius: 5px;
        text-decoration: none;
        padding: 10px 20px;
        width: auto;
        cursor: pointer;
        font-size: 16px;
        display: inline-block;
      }

      .btn:hover {
        color: var(--app-primary-color);
        border-color: var(--app-primary-color);
        background: #fff;
      }
    </style>
  </template>
</dom-module>
